<div>

  <h3>
    Avalaible Drones
  </h3>

  {{#each listDrone}}

    <a href="/drones/{{_id}}/edit"><h4>{{name}}</h4></a>
    <p>{{propellers}}</p>
    <p>{{maxSpeed}}</p>

    <form action="/drones/{{_id}}/delete" method="post">
      <button>Delete Drone</button>
    </form>

  {{/each}}



</div>